.env
venv/
credentials/

#dbt
target/
dbt_packages/
logs/
dbt_project/econ_data_pipeline/profiles.yml

__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db

# astro / airflow
.astro/
airflow_settings.yaml
tests/

# pipeline log file written by setup_logging()
pipeline.log